In [ ]:
Chapter 5
topic 5.1
You'll convert data types, apply range constraints to remove future data points,
 and remove duplicated data points to avoid double-counting.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

ride_sharing = pd.read_csv('ride_sharing_new.csv')
# Print the information of ride_sharing
print(ride_sharing.info())

# Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
dtypes: int64(6), object(4)
memory usage: 2.0+ MB
None
count    25760.000000
mean         2.008385
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: user_type, dtype: float64

In [ ]:
# Strip duration of minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].str.strip('minutes')

# Convert duration to integer
ride_sharing['duration_time'] = ride_sharing['duration_trim'].astype('int')

# Write an assert statement making sure of conversion
assert ride_sharing['duration_time'].dtype == 'int'

# Print formed columns and calculate average ride duration 
print(ride_sharing[['duration','duration_trim','duration_time']])
print(ride_sharing.duration_time.mean())

         duration duration_trim  duration_time
0      12 minutes           12              12
1      24 minutes           24              24
2       8 minutes            8               8
3       4 minutes            4               4
4      11 minutes           11              11
...           ...           ...            ...
25755  11 minutes           11              11
25756  10 minutes           10              10
25757  14 minutes           14              14
25758  14 minutes           14              14
25759  29 minutes           29              29

[25760 rows x 3 columns]
11.389052795031056

In [ ]:
ride_sharing.columns

Index(['Unnamed: 0', 'duration', 'station_A_id', 'station_A_name',
       'station_B_id', 'station_B_name', 'bike_id', 'user_type',
       'user_birth_year', 'user_gender', 'duration_trim', 'duration_time'],
      dtype='object')

In [ ]:
ride_sharing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
 10  duration_trim    25760 non-null  object
 11  duration_time    25760 non-null  int64
dtypes: int64(7), object(5)
memory usage: 2.4+ MB

In [ ]:
ride_sharing.describe()

         Unnamed: 0  station_A_id  ...  user_birth_year  duration_time
count  25760.000000  25760.000000  ...     25760.000000   25760.000000
mean   12879.500000     31.023602  ...      1983.054969      11.389053
std     7436.415803     26.409263  ...        10.010992      23.500516
min        0.000000      3.000000  ...      1901.000000       1.000000
25%     6439.750000     15.000000  ...      1978.000000       6.000000
50%    12879.500000     21.000000  ...      1985.000000       9.000000
75%    19319.250000     67.000000  ...      1990.000000      13.000000
max    25759.000000     81.000000  ...      2001.000000    1372.000000

[8 rows x 7 columns]

In [ ]:
# Convert tire_sizes to integer
ride_sharing['user_type'] = ride_sharing['user_type'].astype('int')

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing['user_type'] > 27, 'user_type'] = 27

# Reconvert tire_sizes back to categorical
ride_sharing['user_type'] = ride_sharing['user_type'].astype('category')

# Print tire size description
print(ride_sharing['user_type'].describe())

count     25760
unique        3
top           2
freq      12972
Name: user_type, dtype: int64

In [ ]:
# Convert ride_date to datetime
ride_sharing['user_birth_year'] = pd.to_datetime(ride_sharing['user_birth_year'])

import datetime as dt 
# Save today's date
today = dt.date.today()

# Set all in the future to today's date
#ride_sharing.loc[ride_sharing['user_birth_year'] > today, 'user_birth_year'] = today

# Print maximum of ride_dt column
print(ride_sharing['user_birth_year'].max())
print(today)

1970-01-01 00:00:00.000002001
2020-11-23

In [ ]:
# Find duplicates
duplicates = ride_sharing.duplicated(subset='bike_id', keep=False)

# Sort your duplicated rides
duplicated_rides = ride_sharing[duplicates].sort_values('bike_id')

# Print relevant columns of duplicated_rides
print(duplicated_rides[['bike_id','duration','user_birth_year']])

       bike_id    duration               user_birth_year
3638        11  12 minutes 1970-01-01 00:00:00.000001988
6088        11   5 minutes 1970-01-01 00:00:00.000001985
10857       11   4 minutes 1970-01-01 00:00:00.000001987
10045       27  13 minutes 1970-01-01 00:00:00.000001989
16104       27  10 minutes 1970-01-01 00:00:00.000001970
...        ...         ...                           ...
8812      6638  10 minutes 1970-01-01 00:00:00.000001986
6815      6638   5 minutes 1970-01-01 00:00:00.000001995
8456      6638   7 minutes 1970-01-01 00:00:00.000001983
8300      6638   6 minutes 1970-01-01 00:00:00.000001962
8380      6638   8 minutes 1970-01-01 00:00:00.000001984

[25717 rows x 3 columns]

In [ ]:
# Drop complete duplicates from ride_sharing
ride_dup = ride_sharing.drop_duplicates()

# Group by ride_id and compute new statistics
ride_unique = ride_dup.groupby('bike_id')

# Assert duplicates are processed
print(ride_dup)

       Unnamed: 0    duration  ...  duration_trim duration_time
0               0  12 minutes  ...            12             12
1               1  24 minutes  ...            24             24
2               2   8 minutes  ...             8              8
3               3   4 minutes  ...             4              4
4               4  11 minutes  ...            11             11
...           ...         ...  ...            ...           ...
25755       25755  11 minutes  ...            11             11
25756       25756  10 minutes  ...            10             10
25757       25757  14 minutes  ...            14             14
25758       25758  14 minutes  ...            14             14
25759       25759  29 minutes  ...            29             29

[25760 rows x 12 columns]